{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}

<link rel="stylesheet" href="../static/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<body>
  
    <h1>WELCOME TO QUICK PITCH BEST SITE WEBPAGE </h1>

<br>
<br>
<br>
  <div class="para">
  <a href="{{url_for('main.new_pitch')}}"><div class="btn btn-primary">New Pitch</div></a>

  <a href="{{url_for('main.view')}}"> <div class="btn btn-success">View Pitch</div></a>
</div>
</body>
{% endblock %}
